body{
  background: white;
}

.monkey{
  width: 40%;
  margin: 0 2.5%;
  padding: 2.5%;
  padding-bottom: 8%;
  display: inline-block;
}

section .sorry {
  color: red;
  width: 50%;
  display: block;
  float: right;
  font-size: 5em;
  text-align: center;
  margin-top: -7em;
  font-family: open sans;
}

.bio {
  font-size: 2.5em;
  font-family: satisfy;
  color: red;
  float: right;
  width: 50%;
  text-align: center;
  margin-top: -8em;
}


 #logo{
  width: 20%;
  display: inline-block;
  float: right;
  padding: 5%;
  margin-top: -20em;
  padding-right: 15%;
}

#home{
  width: 55%;
  float: right;
  color: red;
  text-decoration: none;
  font-family: open sans;
  font-size: 1.5em;
  text-align: center;
  margin-top: -1em;
  margin-right: -25em;
}


/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 1200px) {

}

/* Tablet */
@media (min-width: 768px) {

}

/* Mobile */
@media (min-width: 480px) {

}